<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        
          <link rel="stylesheet" href="js/jquery.mobile-1.4.2.min.css" />
		<script src="js/jquery.mobile-1.4.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="js/style.css" />
        
        
        <title>SMIC- SERVER</title>
    </head>
    <body>
    
    
    
   <center><br><br><h1><b>Bem vindo!</b></center>
   

    <div id="principal">
    

    <a href="qr/index.html"><img src="img/src.png"  height="50%" width="50%"/></a><br><br>
    <a href="createQR/index.html"><img src="img/add.png"  height="50%" width="50%"/></a>
    
    
    </div>
    </body>
</html>

